<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <% if (user) { %>
        <li><a href="/profile/<%= user.username %>">My Profile</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href="#" onclick="$('body').append('<form id=\'logoutform\' method=\'POST\' action=\'/logout\'></form>');$('#logoutform').submit();return false;">Sign out</a></li>
        <% } else { %>
        <li><a href="/join">Sign up</a></li>
        <li><a href="/login">Sign in</a></li>
        <% } %>
    </ul>
</nav>